* 
  box-sizing border-box
  position   relative

body
  font-family Open Sans
  font-size 12px
  //background url('http://distortedarts.com/wp-content/uploads/2013/03/the-city-rises-1911.jpg')
  background #151617
  background-size cover
  color #eee
  margin 0

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

.app
  display        flex
  flex-direction column
  min-height     100%
  outline none

.main
  flex-grow 1

.flex
  display flex
  &.col
    flex-direction column
  &.row
    flex-direction row

.prompt
  position fixed
  bottom   0
  left     0
  right    0
  z-index  1

  padding 9px 12px
  height  36px
  display block
  width   100%

  border: none;
  background rgba(21,22,23,0.6)
  color: white;

  font-size: 18px;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  outline: none;
  text-align: center;

.results
  position absolute
  top 12px
  left 12px
  right 12px
  bottom 36px
  overflow auto
  padding 12px
  margin 0
  background rgba(21,22,23,0.8)
  list-style none

  .result
    padding 3px 6px
    margin 0
    cursor pointer
    &:hover
      background rgba(255,255,255,0.15)
    &-page
      cursor pointer
      display inline-block
      padding 0 3px
      margin 0 3px 3px 0
      background #222
      &:hover
        background #333

bg-faded()
  background linear-gradient(to bottom,
    rgba(255,255,255,0.1) 0%,
    rgba(0,0,0,0.0) 3px,
    rgba(0,0,0,0.3) 100%)

// SEQUENCER

.sounds
  display flex
  flex-direction column
  padding 12px

.sound
  bg-faded()
  padding 12px 12px
  line-height 24px
  display flex
  flex-direction row

.sound-label
  width: 32%

.sequencer
  display flex
  flex-direction row

.sequencer-step
  width 24px
  height 24px
  background rgba(0,0,0,0.5)
  margin 0 2px

  &:hover
    background rgba(0,0,0,0.2)

  &.active
    background linear-gradient(to bottom, orangered, red)

    &:hover
      opacity 0.5

/// TOOLBAR

.toolbar
  bg-faded()
  padding 6px
  display flex
  justify-content space-between
  border-bottom 1px solid black

  .section
    display flex
    border 1px solid black

  .btn
    font-weight bold
    color #ccc
    &:hover
      color #fff
    text-shadow 0 1px 0 black
    cursor pointer

    background #202020
    border-top 1px solid rgba(255,255,255,0.1)
    border-left 1px solid rgba(255,255,255,0.1)
    border-right 1px solid #111
    &:last-child
      border-right none
    display inline-block
    padding 3px 8px

//////////////////////////////////////

//.toolbar
  //width      100%
  //background #070707
  //padding    6px

  //display         flex
  //justify-content space-between

  //.section
    //display flex

    //.btn
      //cursor  pointer
      //padding 3px 6px
      //margin  0 3px
      //&:hover
        //background rgba(0,0,0,0.3)

shadowed()
  box-shadow 0 3px 6px rgba(0,0,0,0.5);

red-button()
  transition      box-shadow 0.4s
  padding         6px 12px
  color           rgba(0,0,0,0.8)
  cursor          pointer
  text-align      center
  display         flex
  flex-direction  column
  justify-content space-between
  background      linear-gradient(to bottom, orangered, red)
  border-radius   2px
  border-top      1px solid rgba(255,255,255,0.5)
