*
  box-sizing border-box
  position relative

body
  background-color #333
  background-image url('http://i.imgur.com/DgIEr0a.jpg')
  background-size  cover

body, table, input, select, textarea, button
  font-family sans
  font-size 11px
  margin 0
  padding 0
  font-family sans-serif

td, th
  text-align left
  vertical-align top
  padding 0

th
  font-weight bold
  text-transform uppercase
  letter-spacing 1px
  padding-bottom 3px
  color #777
  font-size 12px

hr
  border-top 1px solid #bbb
  border-bottom none

button
  font-weight bold
  background white
  border 2px solid #555
  color #111
  margin 3px
  padding 3px 6px
  cursor pointer

input[type=text]
  font-weight bold
  background white
  border none
  border-bottom 2px solid #aaa
  text-align center
  color #333
  &:focus
    outline none

highlight()
  background linear-gradient(to right, #f0f0f0 0%, rgba(255,255,255,0.15) 33%, transparent 100%);

.Highlight
  highlight()

.ButtonLink
  color #888
  text-decoration none
  border-bottom 1px dotted #888
  cursor pointer
  &:hover
    color #555
    border-bottom-style solid

.App
  height 100%
  display flex
  flex-direction column
  &.Blank
    justify-content center
    align-items center
    h1
      color #5f5f5f
      text-shadow 0 0 6px rgba(33,33,33,0.3)
      cursor default
      margin 0 auto -3px
      font-family sans-serif
    input, button
      font-size 16px
      font-weight normal
      color #555
      display block
      margin 12px auto
    button
      border-color #777
      text-transform uppercase
      font-size 14px
      &:hover
        border-color #555
        color #333


// tabs
.Tab

  // tab bar
  &Bar
    flex-shrink 0
    display flex
    background #888
    height 24px

  // tab
  &
    background #ddd
    flex-grow 1
    margin 0 3px
    display flex
    justify-content space-between
    align-items center
    cursor pointer
  &.Active
    font-weight bold
  &:hover, &Add:hover
    background #e0e0e0
  &Text
    padding 0 6px
  &Connected, &NotConnected
    width 12px
    height 12px
    border-radius 100%
    &:after
      color #777
      margin-left 15px
      line-height 11px
      text-transform uppercase
      letter-spacing -1px
      background white
      padding 3px 6px
      border-radius 3px
      white-space nowrap
  &NotConnected
    background #dd5555
    &:after
      content 'not connected'
    &:hover:after
      content 'connect'
  &Connected
    background #aadd55
    &:after
      content 'connected'
    &:hover:after
      content 'reconnect'
  &Close
    background none
    border none
    width 30px
    height 30px
    text-align center
    margin 0 3px 0 0
    color #777
    border-radius 24px
    &:hover
      background white

  // new tab button
  &Add
    flex-grow 0
    width 18px
    height 18px
    line-height 18px
    font-size 24px
    text-align center
    cursor pointer
    margin 3px 3px 3px 0
    background #aaa
    border-radius 24px

.Node
  transition background 0.1s linear
  &:hover
    background #e4e4e4

  &_NameSource
    font-family monospace
    &_Name
      font-size 12px
      line-height 2em
      white-space nowrap
      margin-right 6px
      cursor pointer

  &_Link
    color #777
    white-space nowrap
    line-height 24px

  &_Name
    font-size 12px
    white-space pre-wrap
    cursor default
    font-weight bold
    &_Name
      white-space nowrap
      margin-left 20px
      line-height 15px

  &_FormatCompiled
    font-family monospace
    white-space pre
    &_Format
      line-height 2em

  &_FormatCompiled, &_Compiled
    max-width 50em
    overflow auto

  &_FileCount
    font-family sans-serif
    line-height 19px
    padding 6px 0 5px

  &_Source, &_Compiled, &_Value
    font-family monospace
    white-space pre
    border-left 1px solid #fff
    border-top 1px solid #ddd
    highlight()

  &_Toolbar
    font-family sans
    line-height 2em
    padding 3px 0
    display flex
    .Node_NameSource &
      justify-content space-between
      &_Button
        margin-right 6px
    &_Button
      height 24px
      white-space nowrap
      line-height 1em
      padding 6px 6px 5px
      cursor pointer
      border-bottom 1px solid #aaa
      color #555
      margin-bottom -1px
      & + .Node_Toolbar_Button
        margin-left 6px
    .Node:hover &
      &_Button
        border-radius 3px
        border-bottom-color #ccc
        background #fff
        color #333
        &:hover
          border-bottom-color #aaa

  &_Value
    &, &-notExpanded
      max-width 50em
      overflow auto
      &_Function
        margin-left 6px
        @extend .Node_Toolbar_Button
        .Node:hover &
          @extend .Node:hover .Node_Toolbar_Button
      &_Data
        font-family monospace
        white-space pre

  .CodeMirror
    max-width 50em
    height auto
    background none
    margin-top -3px
    margin-bottom 12px
    margin-right 6px
    &:hover
      //background #f0f0f0
      highlight()
    &-focused
      //background white
      highlight()
    &-gutters
      background none
    &-linenumber
      color #777

  &_Collapse, &_Expand
    border-radius 50%
    width 20px
    height 20px
    line-height 20px
    text-align center
    cursor pointer
    position absolute
    right 100%
    opacity 0
    display inline-block
    padding 0 6px
    margin -3px 0
    color #777
    .Node:hover &
      opacity 1
      background white

.StatusBar
  flex-shrink 0
  display flex
  flex-direction row
  height 24px
  background #ddd
  justify-content space-between
  &Navigation, &Presentation
    display flex
    flex-direction row
  &Button
    cursor pointer
    margin-top 2px
    margin-bottom 2px
    line-height 18px
    padding 1px 6px
    background #eee
    border-radius 3px
    font-size 0.9em
  &Navigation > &Button
    margin-left 6px
    margin-right 0
  &Presentation > &Button
    margin-left 0
    margin-right 6px

.MainView
  display flex
  flex-grow 1

.Frame
  background #ddd
  color #333
  display flex
  flex-direction column
  border-right 1
  max-width 100%
  &Header
    background #ddd
    display flex
    align-items center
    flex-shrink 0
    padding 0 3px
  &Title, &Address
    font-size 18px
    font-family serif
    font-style italic
    padding 0 3px
    margin 0
    font-weight bold
  &Address
    display inline-block
    background none
    border none
    padding 0
    border-bottom 1px dotted #aaa
    &:hover, &:focus
      background white
    &:focus
      outline none
      border-bottom 1px solid #aaa
  &Status
    margin 0 6px
    background #ddd
    padding 3px 6px
  &Close
    font-size 30px
    opacity 0.5
    cursor pointer
    &:hover
      opacity 0.7
      background #fff
  &Body
    overflow auto
    flex-grow 1
    > table
      background white
    > iframe
      border none
      position absolute
      top 0
      left 0
      width 100%
      height 100%

.Frames
  flex-grow 1
  display flex
  overflow auto
  &Toolbar
    background #ddd
    width 24px
    display flex
    flex-direction column-reverse

.Blank
  background white
  h1
    font-family serif
    font-style italic
    font-size 6em
    margin 0

.Sidebar
  background #ddd
  color #333
  font-family sans
  border-left 1px solid #fff
  box-shadow -3px 0 6px #aaa
  &Section
    padding 6px
    border-bottom 1px solid #ccc
    &Header
      font-family serif
      font-style italic
      font-size 1.5em
      cursor pointer
  &Button
    cursor pointer
    margin 3px -3px
    padding 0 3px
    &:hover
      background #f0f0f0
      border-radius 3px

.Glagol
  padding 0 6px
  &.Disconnected, &Connect
    position absolute
    top 0
    left 0
    width 100%
    height 100%
  &Connect
    cursor pointer
    display flex
    flex-direction column
    text-align center
    justify-content center
    &:hover
      text-shadow 0 0 6px white
    &Icon
      font-size 6em
  &Body > table
    margin 0


.Djinn
  &Hints
    display flex
    flex-direction row
    flex-wrap wrap
  &Hint
    color #777
    display block
    padding 12px
    font-size 14px
    &Title
      font-weight bold
      color #555
