*
  box-sizing border-box
  position relative

body
  background-color    #444
  background-size     cover
  background-position center
  overflow            hidden

body, table, input, select, textarea, button
  font-size 11px
  margin 0
  padding 0
  font-family sans-serif
  //font-family monospace

td, th
  text-align left
  vertical-align top
  padding 0

th
  font-weight bold
  text-transform uppercase
  letter-spacing 1px
  padding-bottom 3px
  color #777
  font-size 12px

hr
  border-top 1px solid #bbb
  border-bottom none

button
  font-weight bold
  background white
  border 2px solid #555
  color #111
  margin 3px
  padding 3px 6px
  cursor pointer

input[type=text]
  font-weight bold
  background white
  border none
  border-bottom 2px solid #aaa
  text-align center
  color #333
  &:focus
    outline none

highlight()
  background linear-gradient(to right, #f0f0f0 0%, rgba(255,255,255,0.15) 33%, transparent 100%);

.Highlight
  highlight()

.Flex
  &Row
    display flex
    flex-direction row
  &Col
    display flex
    flex-direction column
  &Spacer
    flex-grow 1

button()
  padding 3px 6px
  border 0
  background rgba(255,255,255,0.2)
  color #ccc
  transition text-shadow 0.1s, box-shadow 0.2s
  text-shadow 0 1px 2px black
  cursor pointer
  text-align center
  i
    font-size 30px
  &:hover
    color #eee
    text-shadow 0 0 3px white, 0 0 3px white
    box-shadow 0 0 12px rgba(0,0,0,0.8)
  &:focus
    outline 1px solid black

.Button
  button()

.ButtonLink
  color #888
  text-decoration none
  border-bottom 1px dotted #888
  cursor pointer
  &:hover
    color #555
    border-bottom-style solid

.App
  height 100%
  display flex
  flex-direction column
  &.Blank
    justify-content center
    align-items center
    h1
      color #707070
      text-shadow 0 0 6px rgba(33,33,33,0.3)
      cursor default
      margin 0 auto -3px
      font-family sans-serif
      text-transform uppercase
      letter-spacing 12px
    input, button
      font-size 16px
      font-weight normal
      color #555
      display block
      margin 12px auto
    button
      border-color #777
      text-transform uppercase
      font-size 14px
      &:hover
        border-color #555
        color #333

.Spinner
  color rgba(255,255,255,0.5)
  text-shadow 0 0 6px rgba(33,33,33,0.5)


// tabs
.Tab

  // tab bar
  &Bar
    flex-shrink 0
    display flex
    background #888
    height 24px

  // tab
  &
    background #ddd
    flex-grow 1
    margin 0 3px
    display flex
    justify-content space-between
    align-items center
    cursor pointer
  &.Active
    font-weight bold
  &:hover, &Add:hover
    background #e0e0e0
  &Text
    padding 0 6px
  &Connected, &NotConnected
    width 12px
    height 12px
    border-radius 100%
    &:after
      color #777
      margin-left 15px
      line-height 11px
      text-transform uppercase
      letter-spacing -1px
      background white
      padding 3px 6px
      border-radius 3px
      white-space nowrap
  &NotConnected
    background #dd5555
    &:after
      content 'not connected'
    &:hover:after
      content 'connect'
  &Connected
    background #aadd55
    &:after
      content 'connected'
    &:hover:after
      content 'reconnect'
  &Close
    background none
    border none
    width 30px
    height 30px
    text-align center
    margin 0 3px 0 0
    color #777
    border-radius 24px
    &:hover
      background white

  // new tab button
  &Add
    flex-grow 0
    width 18px
    height 18px
    line-height 18px
    font-size 24px
    text-align center
    cursor pointer
    margin 3px 3px 3px 0
    background #aaa
    border-radius 24px

.Node
  transition background 0.1s linear
  &:hover
    background #e4e4e4

  &_NameSource
    font-family monospace
    &_Name
      font-size 12px
      line-height 2em
      white-space nowrap
      margin-right 6px
      cursor pointer

  &_Link
    color #777
    white-space nowrap
    line-height 24px

  &_Name
    font-size 12px
    white-space pre-wrap
    cursor default
    font-weight bold
    &_Name
      white-space nowrap
      margin-left 20px
      line-height 15px

  &_FormatCompiled
    font-family monospace
    white-space pre
    &_Format
      line-height 2em

  &_FormatCompiled, &_Compiled
    max-width 50em
    overflow auto

  &_FileCount
    font-family sans-serif
    line-height 19px
    padding 6px 0 5px

  &_Source, &_Compiled, &_Value
    font-family monospace
    white-space pre
    border-left 1px solid #fff
    border-top 1px solid #ddd
    highlight()

  &_Toolbar
    font-family sans
    line-height 2em
    padding 3px 0
    display flex
    .Node_NameSource &
      justify-content space-between
      &_Button
        margin-right 6px
    &_Button
      height 24px
      white-space nowrap
      line-height 1em
      padding 6px 6px 5px
      cursor pointer
      border-bottom 1px solid #aaa
      color #555
      margin-bottom -1px
      & + .Node_Toolbar_Button
        margin-left 6px
    .Node:hover &
      &_Button
        border-radius 3px
        border-bottom-color #ccc
        background #fff
        color #333
        &:hover
          border-bottom-color #aaa

  &_Value
    &, &-notExpanded
      max-width 50em
      overflow auto
      &_Function
        margin-left 6px
        @extend .Node_Toolbar_Button
        .Node:hover &
          @extend .Node:hover .Node_Toolbar_Button
      &_Data
        font-family monospace
        white-space pre

  .CodeMirror
    max-width 50em
    height auto
    background none
    margin-top -3px
    margin-bottom 12px
    margin-right 6px
    &:hover
      //background #f0f0f0
      highlight()
    &-focused
      //background white
      highlight()
    &-gutters
      background none
    &-linenumber
      color #777

  &_Collapse, &_Expand
    border-radius 50%
    width 20px
    height 20px
    line-height 20px
    text-align center
    cursor pointer
    position absolute
    right 100%
    opacity 0
    display inline-block
    padding 0 6px
    margin -3px 0
    color #777
    .Node:hover &
      opacity 1
      background white

.StatusBar
  flex-shrink 0
  display flex
  flex-direction row
  height 24px
  background linear-gradient(to top, rgba(11,11,11,0.5), rgba(33,33,33,0.7))
  color #fff
  justify-content space-between
  &Text
    flex-grow 1
    text-align center
    line-height 24px
    font-size 1.2em
    text-shadow 0 1px 2px black
  &Navigation, &Presentation
    display flex
    flex-direction row
  &Button
    cursor pointer
    margin-top 2px
    margin-bottom 2px
    line-height 18px
    padding 1px 6px
    background #eee
    border-radius 3px
    font-size 0.9em
  &Navigation > &Button
    margin-left 6px
    margin-right 0
  &Presentation > &Button
    margin-left 0
    margin-right 6px

.MainView
  background-image url('http://i.imgur.com/DgIEr0a.jpg')
  //background-image url('http://wallpapercave.com/wp/JnBur5a.jpg')
  background-size  cover
  display flex
  flex-grow 1
  height 100%
  transform translateY(0)
  transition transform 0.2s
  .Launcher.Visible + &
    position relative
    transform translateY(24px)

.Launcher
  position absolute
  left 0
  right 0
  top 0
  z-index 10
  height 24px

  overflow-x hidden
  background black
  flex-shrink 0
  display flex
  flex-direction row
  background rgba(0,0,0,0.5)
  background linear-gradient(to top, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.65) 100%)
  color white
  text-shadow 0 0 12px rgba(0,0,0,0.8)
  line-height 24px

  transition transform 0.2s
  &.Hidden
    transform translateY(-24px)

  &_Item, &_Label
    font-size 1em
    padding 0 6px
  &_Label
    font-weight bold
    background #555
    margin-right 6px

  &_Button
    white-space nowrap
    padding 0 6px
    cursor pointer
    background none
    transition 0.2s background
    &:hover
      background black

  > input[type=text]
    flex-grow   1
    background  none
    color       white
    border      none
    font-size   1.2em
    line-height 24px
    text-align  left
    &:focus
      outline none

.Frame
  //box-shadow 0 0 6px black, 0 0 2px black
  color #f0f0f0
  display flex
  flex-direction column
  border-top 1px solid #555
  border-left 1px solid #555
  border-bottom 1px solid #111
  border-right 1px solid #111
  background rgba(0,0,0,0.5)
  transition background 0.2s
  max-width 100%
  max-height 100%
  &:hover
    background rgba(0,0,0,0.7)
  &[data-type="directory"]
    flex-grow 1
    display flex
    flex-direction row
  &Header
    display flex
    align-items center
    flex-shrink 0
    padding 0 3px
    color #ddd
    z-index 10
    .FrameWithError &
      background #c0392b
    //.Frame[data-type="file"] &
      //opacity 0
      //margin-bottom -34px
      //transition background 0.2s, opacity 0.2s
    //.Frame[data-type="file"]:hover &
      //opacity 1
  &Title, &Address
    padding 0 3px
    margin 0
    font-weight bold
  &Address
    flex-grow 1
    color #fff
    display inline-block
    background none
    border none
    padding 9px 3px
    margin-left 3px
    //border-bottom 1px dotted #000
    transition background 0.2s
    font-size 1.2em
    &:hover, &:focus
      background #111
    &:focus
      outline none
      border-bottom 1px solid #aaa
  &Error
    flex-shrink 0
    display flex
    justify-content space-between
    align-items center
    background #e74c3c
    color white
    padding 0 6px
    line-height 18px
    &Message
      font-weight bold
    &Stack
      font-family monospace
      background rgba(0,0,0,0.5)
      white-space pre
      overflow auto
      padding 6px
      margin-bottom 6px
      line-height 14px
    &Close
      font-size 24px
      margin-right -3px
      padding 4px 2px
      cursor pointer
      &:hover
        background rgba(255,255,255,0.1)
  &Status
    display none
    margin 0 6px
    background #ddd
    padding 3px 6px
  &Close
    font-size 30px
    opacity 0.5
    cursor pointer
    transition opacity 0.2s, text-shadow 0.2s
    padding-left 9px
    margin-left 9px
    &:hover
      opacity 1
      color #eee
      text-shadow 0 0 3px white, 0 0 3px white
  &Body
    color #f0f0f0
    display flex
    flex-direction column
    overflow auto
    flex-grow 1
    .Frame[data-type="directory"] &
      flex-direction row
    > table
      background white
    > iframe
      border none
      position absolute
      top 0
      left 0
      width 100%
      height 100%

.Workspace
  flex-grow 1
  display flex
  @media screen and (orientation:portrait)
    flex-direction column
  @media screen and (orientation:landscape)
    flex-direction row
  overflow auto
  & > *
    flex-shrink 0
  &Toolbar
    background #ddd
    width 24px
    display flex
    flex-direction column-reverse

.Blank
  background rgba(255,255,255,0.9)
  h1
    font-family serif
    font-style italic
    font-size 6em
    margin 0

.Sidebar
  display flex
  flex-direction column
  background rgba(0,0,0,0.5)
  background linear-gradient(to left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.55) 100%)
  color #ddd
  font-family sans
  box-shadow 3px 0 6px rgba(30,30,30,0.4)
  text-shadow 0 0 9px rgba(0,0,0,0.8)
  overflow auto
  border-right 1px solid rgba(180,180,180,0.1)
  //&:hover
    //flex-shrink 0

  &Collapsed
    background linear-gradient(to left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 100%)
    padding-left 12px
    cursor pointer
    &:hover
      background linear-gradient(to left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 100%)

  .Highlight
    background linear-gradient(to right, rgba(255,255,255,0.2) 33%, transparent 100%);
  &_Section
    &_Header
      //font-family serif
      //font-style italic
      //font-size 1.5em
      margin 0 1px
      cursor normal
      line-height 18px
      font-weight bold
      text-transform uppercase
      letter-spacing 2px
      font-size 0.9em
      padding 6px 6px
      text-align center
      font-size 1.2em
      font-weight normal
  &_Button
    cursor pointer
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    padding 3px 6px
    i
      font-size 20px
      width 24px
      text-align center
      vertical-align middle
    &:hover
      background rgba(33,33,33,0.5)

.Glagol
  padding 0 6px
  &.Disconnected, &Connect
    position absolute
    top 0
    left 0
    width 100%
    height 100%
  &Connect
    cursor pointer
    display flex
    flex-direction column
    text-align center
    justify-content center
    &:hover
      text-shadow 0 0 6px white
    &Icon
      font-size 6em
  &Body > table
    margin 0

.Command
  &Hints
    display flex
    flex-direction row
    flex-wrap wrap
  &Hint
    color #777
    display block
    padding 12px
    font-size 14px
    &Title
      font-weight bold
      color #555

frame-toolbar()
  padding 3px
  display flex
  flex-direction column
  flex-shrink 0
  button
    button()

.Directory
  min-width 240px
  flex-grow 1
  overflow auto

  &_Toolbar
    frame-toolbar()

  .FrameHeader
    position absolute
    top 0
    left 0
    right 0
    height 48px

  &_PathFragment
    margin      0 0 0 6px
    padding     6px 9px
    background  rgba(255,255,255,0.2)
    font-weight bold
    text-shadow 0 0 3px black

  &_Body,
  &_Empty
    position absolute
    top 48px
    left 0
    overflow auto

  &_Empty
    right 6px
    background rgba(255,255,255,0.1);
    padding 12px
    font-size 1.2em
    font-weight bold
    font-style italic
    color #ccc
    line-height 32px
    i
      font-size 24px
      line-height 24px
      vertical-align middle
      margin-right 6px

  &_Body
    right 0
    bottom 0

  .FrameBody > &
    flex-grow 1
    overflow auto

  &_Entry
    font-size 1.2em
    display flex
    justify-content space-between
    white-space nowrap
    padding 3px
    cursor pointer
    color white
    &:hover
      background #555
    &_Name
      flex-grow 1
      &.is-dir
        font-weight bold
    &_Size, &_Type
      margin-left 6px
      overflow hidden
      text-overflow ellipsis
      text-align right
    &_Size
      width 7em
    &_Type
      width 100px
    &_Label
      display inline-block
      padding 2px 4px
      background #777
      color #ddd
      font-weight bold
      margin -2px 3px
      .Directory_Entry:hover &
        color #fff

.File
  audio
    width 100%

.AudioPlayer
  display flex
  flex-direction row
  flex-wrap wrap
  color white
  align-items flex-start
  &_Header
    display flex
    flex-wrap wrap
    align-items center
    flex-grow 1
    padding 3px 6px 3px 0
    &>i
      margin-left 3px
  &_Toolbar
    frame-toolbar()
    button
      width 42px
  svg.waveform
    display block
    width 100%
    height 72px
  &_Title
    margin-left 6px
    line-height 42px
    height 42px
    font-size 18px
    font-weight bold
    flex-grow 1
  &_Position
    margin 0 6px
    height 42px
    line-height 14px
    flex-shrink 0
    text-align center
    white-space pre
    font-family monospace
    letter-spacing 1px
  &_Button
    &_Play, &_Cue
      font-size 30px
      line-height 30px
    &_Play
      &.Playing
        background #ccaa26
        color white
        &:hover
          text-shadow 0 0 3px white, 0 0 3px white
    &_Cue
      font-size 1.2em
      letter-spacing 1px
      font-weight bold
  &_ProgressBar
    width 100%
    height 36px
    margin-top 3px
    &_Background
      background #222
      width 100%
      height 100%
      cursor pointer
    &_Foreground
      background #ccaa26
      position absolute
      left 0
      top 0
      bottom 0
  audio
    display none
  &_Waveform, canvas
    width 100%
    height 100px
  &_Spectrogram
    margin 6px
  &_Cues
    display flex
    flex-direction row
    width 100%
    padding 0 6px
    &_Toolbar
      flex-shrink 0
    &_Add
      button()
      width 42px
      height 36px
    &_List
      display flex
      flex-direction column
      width 100%
  &_Cue
    line-height 18px
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    &:hover
      background #555
    &_Number
      padding 3px
      font-size 1.2em
      cursor pointer
      margin-right 3px
      width 36px
      display inline-block
      text-align center
      &:hover
        background #777
    &_Time
      font-family monospace
      padding 0 3px
      letter-spacing 1px
  &_Info
    padding 0 6px
    &_Toggle
      button()
      width 42px
      height 36px

.CodeMirror
  background rgba(33,33,33,0.8)
  transition background 0.2s
  color #ddd
  &-focused
    background rgba(25,25,25,0.8)
  &-gutters
    background none
    border-right 1px solid #444
  &-cursor
    border-left 2px solid #888
  &-linenumber
    color #777
