* 
  box-sizing border-box

body
  font-family Open Sans
  font-size 12px
  background rgb(22, 31, 40)
  color #eee
  margin 0
 
.sampler
  margin 12px
  height 240px
  display flex

.sampler-waveform
  flex-grow 1
  background rgb(189, 195, 199)

.sampler-controls
  width 180px
  background rgb(140, 152, 153)

.sampler-label
  padding 6px 12px
  background rgb(39, 174, 96)
  font-weight bold
  text-transform uppercase

.sampler-button
  margin 6px 6px 0
  display block
  height 48px
  color #333
  border 1px solid #888;
  background rgba(255,255,255,0.3)
  text-align center
  line-height 46px
