jylto = #ccaa26

body
  background #111
  color      white

.toolbar
  background  black
  display     flex
  align-items center

.sequencer
  margin      12px 0 0
  display     flex
  align-items center

  &-label
    z-index      1
    color        white
    text-shadow  0 1px 0 black
    margin-right 6px
    font-weight  bold
    width        40px

  &-slots
    display        flex
    flex-direction row
    margin-left    -3px

  &-slot
    background  rgba(255,255,255,0.1)
    height      6px
    margin      3px 0 0 3px
    flex-grow   1

    &.selected
      background rgba(255,255,255,0.2)

  &-mid
    display    flex
    flex-direction column
    flex-grow  1

  &-body
    background rgba(255,255,255,0.1)
    display    flex
    height     30px

  &-cell
    flex-grow 1
    &:hover
      background rgba(255,255,255,0.1)
    &.active
      background jylto
      border-radius 2px
      border-top    1px solid rgba(255,255,255,0.5)
      &:hover
        background    linear-gradient(to bottom, jylto, red)

.play
  cursor pointer
  display inline-block
  text-align center
  border: none;
  border-radius: 3px;
  font-size 24px
  line-height: 36px;
  width: 40px;
  color: #ccaa26;

  &:hover
    color white
