*
  box-sizing border-box

body
  background #fafafa
  color #424242
  margin 0

.form
  position relative
  padding 3px 6px
  margin-left 48px
  display block
  cursor pointer
  &:first-child
    margin-top 3px
  &:hover 
    background #f0f0f0

  label
    position absolute
    display inline-block
    top 6px
    height 20px
    width auto
    right 100%
    text-transform uppercase
    font-size 0.75em
    text-align right
    color #5f5f5f
    padding-right 3px

  .name
    display inline-block
