.YouTube
  display flex
  &_Sidebar
    display flex
    flex-direction column
    width 48px
  &_Body
    flex-grow 1
  &_Header
    height 42px
    font-size 12px
    display flex
    align-items center
    padding 0 6px
  &_Address
    flex-grow 1
    color #fff
    display inline-block
    background none
    border none
    padding 9px 3px
    margin-left 3px
    //border-bottom 1px dotted #000
    transition background 0.2s
    &:hover, &:focus
      background #111
    &:focus
      outline none
      border-bottom 1px solid #aaa
  &_Video
    text-align center
    padding 12px 0
  &_Comments
    height 200px
