@import '../../../core/client/styles/vars.styl'
@import '../../../core/client/styles/mixins.styl'

.Frame
  &[data-type="directory"]
    min-width 38%
    min-height 38%

.Directory
  flex-grow 1
  display flex
  flex-direction column

  &_Toolbar
    frame-toolbar()
    justify-content flex-end
    button
      margin-bottom 3px
      background none

  &_Body
    flex-grow 1
    width 100%
    display flex
    flex-direction row

  .Frame_Header
    position absolute
    top 0
    left 0
    right 0
    height 48px
    background rgba(0,0,0,0.2)

  &_PathFragment
    margin      0 0 0 6px
    padding     6px 9px
    background  rgba(255,255,255,0.2)
    font-weight bold
    text-shadow 0 0 3px black

  &_Entries
    width 100%
    margin-top 48px
    table
      table-layout fixed
      border-spacing 0
      width 100%
    td
      max-width 50%
      overflow hidden
      text-overflow ellipsis
    &_Inner
      overflow auto
      position absolute
      top 0
      bottom 0
      left 0
      right 0

  &_Empty
    frame-blocker()
    width 100%

  &_Entry
    font-size 1.1em
    white-space nowrap
    cursor pointer
    color #ddd
    transition color 0.25s
    td
      border-bottom 1px solid rgba(200,200,200,0.2)
    &.Faded
      opacity 0.65
    &:hover
      color #fff
    &_Name
      flex-grow 1
      &.is-dir
        font-weight bold
    &_Size, &_Type
      margin-left 6px
      overflow hidden
      text-overflow ellipsis
      text-align right
    &_Size
      width 7em
    //&_Type
      //width 100px
    &_Label
      border-radius 9px
      display inline-block
      padding 2px 4px
      background #555
      color #ddd
      //font-weight bold
      margin -2px 12px -2px 0
      .Directory_Entry:hover &
        color #fff

.File
  &_Toolbar
    frame-toolbar()
  &_Body
    width 100%
  &_Unknown
    frame-blocker()

.SourceEditor
  position absolute
  top 48px
  left 0
  right 0
  bottom 0
  & > .CodeMirror
    width 100%
    height 100%

.CodeMirror
  background rgba(33,33,33,0.8)
  transition background 0.2s
  color #ddd
  &-focused
    background rgba(25,25,25,0.8)
  &-gutters
    background none
    border-right 1px solid #444
  &-cursor
    border-left 2px solid #888
  &-linenumber
    color #777

.ImageContainer
  max-width 100%
  max-height 100%
  overflow hidden
  text-align center

.Git, button.Git
  &_Modified,
  &_Unmodified
    .Directory_Toolbar &
      color white
    .Directory_Entry &.Directory_Entry_Label
      color rgba(0,0,0,0.7)
    .Directory_Entry:hover &.Directory_Entry_Label
      color #222
  &_Modified
    background #ccaa26
  &_Unmodified
    background #aacc26
