.Service
  &, &_Add
    display flex
    align-items center
    padding 3px 9px
    cursor default
    &:hover
      background rgba(255,255,255,0.1)
    i
      margin-right 6px
  &_Add
    cursor pointer
    text-transform uppercase
    letter-spacing 1px
    font-size 0.9em
